
<!-- Navbar  -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="CaseStudy" href="#">Case-Study</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="imageUI" href="#">Rout-1(Image)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="e-commerce" href="#">Route-2(E-Commerce)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="timerIo" href="#">Route-3(TimerIO)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="TimerService" href="#">Route-4(TimerService)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="studentsMarks" href="#">Route-5(StudentsMarksTable)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "routerLink="routeSix" href="#">Route-6(DynamicDivs)</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>